.selectable {

}

.selectable:hover {
    opacity: .5;
}

/*-- round --*/

.wall {
    padding-left: 0;
}

.wall > li {
    display: inline-block;
}

.stack {
    display: inline-block;
    position: relative;
    padding-left: 0;
}

.stack-top {
    display: inline-block;
}

.stack-bottom {
    display: inline-block;
    position: absolute;
    top: 5px;
    z-index: -1;
}

/*-- areas --*/
/*#area1 {*/
/*transform: rotate(180deg);*/
/*}*/
/*#area2 {*/
/*transform: rotate(90deg);*/
/*}*/
/*#area3 {*/
/*}*/
/*#area4 {*/
/*transform: rotate(-90deg);*/
/*}*/

.areaContainer > dl > dt {
    display: inline-block;
}

.actorTitle, .discardTitle, .publicTitle, .commandsTitle {
    min-width: 70px;
}

.pointTitle, .isReachTitle {
    min-width: 70px;
}

.areaContainer > dl > dd {
    display: inline-block;
    margin: 0;
}

/*.areaContainer >dl >dd:after {*/
/*display: block;*/
/*content: '';*/
/*}*/

.areaContainer > ol {
    display: inline-block;
}

.discard {
    padding-left: 0;
}

.discard > li {
    display: inline-block;
}

.public {
    padding-left: 0;
}

.public > li {
    display: inline-block;
}

.melded {
    padding-left: 0;
}

.melded > li {
    display: inline-block;
    margin-right: 33px;
}

.meld {
    padding: 0;
}

.meld > li {
    display: inline-block;
}

.commands {
    padding-left: 0;
}

.commands > li {
    display: inline-block;
}

.command {

}

/*-- tile --*/
.tile {
    display: inline-block;
    width: 33px;
    height: 45px;
    background-repeat: no-repeat;
    background-size: 33px 45px;
    color: transparent; /* hidden text */
}

.tile-1m {
    background-image: url("images/1m.png");
}

.tile-2m {
    background-image: url("images/2m.png");
}

.tile-3m {
    background-image: url("images/3m.png");
}

.tile-4m {
    background-image: url("images/4m.png");
}

.tile-5m {
    background-image: url("images/5m.png");
}

.tile-0m {
    background-image: url("images/0m.png");
}

.tile-6m {
    background-image: url("images/6m.png");
}

.tile-7m {
    background-image: url("images/7m.png");
}

.tile-8m {
    background-image: url("images/8m.png");
}

.tile-9m {
    background-image: url("images/9m.png");
}

.tile-1p {
    background-image: url("images/1p.png");
}

.tile-2p {
    background-image: url("images/2p.png");
}

.tile-3p {
    background-image: url("images/3p.png");
}

.tile-4p {
    background-image: url("images/4p.png");
}

.tile-5p {
    background-image: url("images/5p.png");
}

.tile-0p {
    background-image: url("images/0p.png");
}

.tile-6p {
    background-image: url("images/6p.png");
}

.tile-7p {
    background-image: url("images/7p.png");
}

.tile-8p {
    background-image: url("images/8p.png");
}

.tile-9p {
    background-image: url("images/9p.png");
}

.tile-1s {
    background-image: url("images/1s.png");
}

.tile-2s {
    background-image: url("images/2s.png");
}

.tile-3s {
    background-image: url("images/3s.png");
}

.tile-4s {
    background-image: url("images/4s.png");
}

.tile-5s {
    background-image: url("images/5s.png");
}

.tile-0s {
    background-image: url("images/0s.png");
}

.tile-6s {
    background-image: url("images/6s.png");
}

.tile-7s {
    background-image: url("images/7s.png");
}

.tile-8s {
    background-image: url("images/8s.png");
}

.tile-9s {
    background-image: url("images/9s.png");
}

.tile-E {
    background-image: url("images/E.png");
}

.tile-S {
    background-image: url("images/S.png");
}

.tile-W {
    background-image: url("images/W.png");
}

.tile-N {
    background-image: url("images/N.png");
}

.tile-C {
    background-image: url("images/C.png");
}

.tile-P {
    background-image: url("images/P.png");
}

.tile-F {
    background-image: url("images/F.png");
}

.tile-O {
    /*hidden*/
    background-image: url("images/O.png");
}

.tile-X {
    /*empty*/
    background-image: url("images/X.png");
    opacity: 0;
}